// Basic colors (dark)
@background:     mix(#000000, #33333f, 50%);
@text:           #e5e5e5;
@text-alt:       #fff;
@syntax:         #ffdd00;
@highlight:      #00cc99;
@content:        mix(#0099ff, @highlight);;
@variable:       #ff6600;
// @variable-alt:   mix(@variable, @syntax);
@variable-alt:   mix(@syntax, @content, 33%);
@constant:       #ff00cc;
// @comment:        mix(@text, @background, 40);
@comment:        fade(@text, 35%);

// Derivatives (dark)
@neutral:        mix(@text, @background);
@syntax-alt:     darken(@syntax, 15%);
@content-alt:    lighten(@content, 10%);
@constant-alt:   lighten(@constant, 10%);
