// Basic colors (dark)
@syntax-bg:             mix(#000000, #33333f, 25%);       // white
@syntax-fg:             #cccccc;                          // black
@syntax-code:           #ffdd00;                          // blue
@syntax-highlight:      #00cc99;                          // yellow
@syntax-accent:         #ff6600;                          // aqua
@syntax-constant:       #ff00cc;                          // red
@syntax-content:        mix(#0099ff, @syntax-highlight);  // green
@syntax-comment:        darken(#0099ff, 10%);             // orange

// Derivatives (dark)
@syntax-neutral:        mix(@syntax-fg, @syntax-bg);
@syntax-neutral-light:  mix(@syntax-neutral, @syntax-bg, 25%);
@syntax-code-darker:    darken(@syntax-code, 15%);
@syntax-code-dark:      darken(@syntax-code-darker, 10%);
@syntax-content-dark:   lighten(@syntax-content, 10%);
@syntax-comment-darker: lighten(@syntax-comment, 10%);
